<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let msg of messages" class="message-item">
      <ion-label>
        <h3>{{ msg.userName }} {{ msg.lastName }}</h3>
        <p><strong>Edad:</strong> {{ msg.age }}</p>
        <p><strong>Dirección:</strong> {{ msg.address }}</p>
        <p><strong>Mensaje:</strong> {{ msg.content }}</p>
        <p><strong>Carrera:</strong> {{ msg.career }}</p>
        <p><strong>Número telefónico:</strong> {{ msg.phoneNumber }}</p>
        <p><strong>Estado civil:</strong> {{ msg.maritalStatus }}</p>
        <p><strong>Fecha de nacimiento:</strong> {{ msg.birthDate }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="age"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Carrera</ion-label>
      <ion-input [(ngModel)]="career"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número telefónico</ion-label>
      <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado civil</ion-label>
      <hr>
      <select [(ngModel)]="maritalStatus">
        <option value="">Seleccione...</option>
        <option value="soltero">Soltero</option>
        <option value="casado">Casado</option>
        <option value="divorciado">Divorciado</option>
        <option value="viudo">Viudo</option>
      </select>
    </ion-item>

    <ion-item>
      <ion-label for="birthDate">Fecha de nacimiento:</ion-label>
      <hr>
      <input type="date" id="birthDate" [(ngModel)]="birthDate">
    </ion-item>

    <ion-item>
      <ion-button expand="block" (click)="sendMessage()">Enviar Formulario</ion-button>
    </ion-item>

  </ion-list>
</ion-content>



